body {
  background-color: rgb(58, 63, 88);
  font-family: "Courier New", Courier, monospace;
  color: white;
}

.container {
  margin-top: 3rem;
}

#title {
  padding: 1rem;
  border: 5px solid white;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5rem;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.resultat {
  background-color: white;
  padding: 1rem;
  overflow: scroll;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.2);
  color: #2c3043;
  max-height: 80vh;
  margin-bottom: 2rem;
}

.form-control {
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.2);
  background-color: #2c3043;
  color: rgb(221, 221, 221);
  margin-bottom: 2rem;
}

.form-control:focus {
  box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.05);
  background-color: #2c3043;
  color: white;
  border-color: #e844a5;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.footer a {
  color: #e844a5;
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.6;
  transition: 0.3s;
  /* font-size: 1.6rem; */
}
